[submodule "scrt-swap"]
	path = scrt-swap
	url = https://github.com/levackt/scrt-swap.git
[submodule "enigmachain"]
	path = enigmachain
	url = https://github.com/Cashmaney/enigmachain
[submodule "KamutBlockchain"]
	path = KamutBlockchain
	url = https://github.com/chainofsecrets/KamutBlockchain
